UL {
  font-size: 14pt;
  font-family: calibri, arial, helvetica;
  font-weight: normal;
  margin-left: 20px;
  margin-right: 10px;
}
P {
  font-size: 14pt;
  font-family: calibri, arial, helvetica;
  font-weight: normal;
  margin-left: 20px;
  margin-right: 10px;
}

H1 {
  font-size: 30pt;
  font-family: georgia, verdana, arial;
  text-align: center;
  border-radius: 10px;
  border-style: double;
  border-width: thick;
  display: inline;
  padding: 15px;
}

H2 {
  font-size: 20pt;
  font-family: helvetica, verdana, arial;
  text-align: center;
  display: inline;
  padding: 15px;
  text-transform: uppercase;
}

TD {
  font-size: 12pt;
  font-family: verdana, arial;
  text-align: center;
  background-color: 000066;
}

BODY {
  background-color: #ead1fe;
  /*background-image: url("./imatges/fons2.jpg");
	background-repeat: repeat;
	background-size: cover;*/
  font-family: calibri, arial;
  font-size: 14pt;
  color: Black;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 30px;
  margin-bottom: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 90%;
  height: 100%;
}

div {
  /*Crees una divisio amb aquestes propietats*/
  width: 100%;
  height: 100%;
}

.body2 {
  background-color: 006600;
  font-family: arial;
  color: White;
  margin-right: 100px;
}

.Foto1 {
  padding: 5px; /*Marge intern per per exemple als bordes*/
  border-radius: 8px;
  margin-left: 20px; /*T'ho centra respecte la divisio si aquesta te una amplada*/
  margin-bottom: 10px;
  border: 3px solid black;
  float: right;
  width: 350px;
  display: block;
}
.Foto2 {
  margin-left: 20px; /*T'ho centra respecte la divisio si aquesta te una amplada*/
  margin-bottom: 10px;
  float: right;
  width: 35px;
  display: block;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 20pt;
  }

  .Foto2 {
	  margin-left: 10px; /*T'ho centra respecte la divisio si aquesta te una amplada*/
	  margin-bottom: 20px;
	  float: right;
	  width: 20px;
	  display: block;
	}

	H2 {
	  font-size: 15pt;
	  text-align: center;
	  padding: 15px;
	  margin-right: 7.5px;
	  margin-left: 7.5px;
	}

	.Foto1 {
	  padding: 3px; /*Marge intern per per exemple als bordes*/
	  border-radius: 8px;
	  margin-left: 9px; /*T'ho centra respecte la divisio si aquesta te una amplada*/
	  margin-bottom: 10px;
	  margin-top: 9px;
	  border: 2px solid black;
	  float: center;
	  width: 190px;
	  display: block;
	}

	BODY {
	  margin-top: 50px;
	  margin-left: 10px;
	  margin-right: 10px;
	  margin-bottom: 50px;
	  width: 90%;
	  height: 100%;
	}

	UL {
	  font-size: 14pt;
	  font-family: calibri, arial, helvetica;
	  font-weight: normal;
	  margin-right: 7.5px;
	  margin-left: 7.5px;
	}

	P {
	  font-size: 14pt;
	  font-family: calibri, arial, helvetica;
	  font-weight: normal;
	  margin-right: 7.5px;
	  margin-left: 7.5px;
	}
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 18px;
  }

  .Foto2 {
	  margin-left: 8px; /*T'ho centra respecte la divisio si aquesta te una amplada*/
	  margin-bottom: 20px;
	  float: right;
	  width: 20px;
	  display: block;
	}

	H2 {
	  font-size: 12pt;
	  text-align: center;
	  padding: 15px;
	  margin-right: 7.5px;
	  margin-left: 7.5px;
	}

	.Foto1 {
	  padding: 3px; /*Marge intern per per exemple als bordes*/
	  border-radius: 8px;
	  margin-left: 9px; /*T'ho centra respecte la divisio si aquesta te una amplada*/
	  margin-bottom: 10px;
	  margin-top: 9px;
	  border: 2px solid black;
	  float: center;
	  width: 150px;
	  display: block;
	}

	BODY {
	  margin-top: 50px;
	  margin-left: 10px;
	  margin-right: 10px;
	  margin-bottom: 50px;
	  width: 90%;
	  height: 100%;
	}

	UL {
	  font-size: 12pt;
	  font-family: calibri, arial, helvetica;
	  font-weight: normal;
	  margin-right: 7.5px;
	  margin-left: 7.5px;
	}

	P {
	  font-size: 12pt;
	  font-family: calibri, arial, helvetica;
	  font-weight: normal;
	  margin-right: 7.5px;
	  margin-left: 7.5px;
	}
}
